html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
}

h1:hover{
  color: salmon;
}

h2 {
  font-size: 1.3rem;
}

h3{
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

header{
  background-color: dodgerblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
}

input {
  height: 1.7rem;
  border: 0;
  border-radius: .3rem;
  margin-bottom: .5rem;
  border: 1px solid lightgrey;
}

.logo {
  text-decoration: none;
}

.all-posts{

}

.thumbnail{
  width: 7rem;
  margin-right: 1rem;
}

.thumbnail img{
  object-fit: cover;
}

.thumbnail img{
  width: 6rem;
  height: 6rem;
  border: 1px solid lightgrey;
  border-radius: 10rem;
}

.post-container {
  display: flex;
  margin-right: 5rem;
}

.postBy {
  color: grey;
  font-size: .9rem;
}

.author{
  color: dodgerblue;
}

.content{
  margin-top: 1rem;
  border: 1px solid dodgerblue;
  padding: 1rem;
  border-radius: .5rem;
  font-size: .9rem;
  line-height: 120%;
  flex-wrap: 'wrap';
}

.add-post, .edit-post{
  background-color: #eee;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: .5rem;
}

.inputLabel{
  display: block;
}

.post-edit{
  display: flex;
  margin-top: 3rem;
}

.addbutton{
    text-align: center;
}

.button {
  display: block;
  margin-top: 2rem;
  padding: .8rem;
  background-color: dodgerblue;
  color: white;
  border-radius: .5rem;
}

.contentInput{
  height: 5rem ;
}

.postdetail{
  padding: 0 15%;
}

.detailtop {
  padding-bottom: 3rem;
  border-bottom: 1px solid lightgrey;
  display: flex;
}

.comments{
  margin-top: 3rem;
}

.add-comment{
  margin-bottom: 2rem;
}

.comment{
  padding: .5rem 0;
  display: flex;
}

.comment-date{
  margin-right: .5rem;
}

.image-detail{
  margin-top: 2rem;
}

.image-detail img {
  max-width: 60vw;
}

.comment-button {
  display: block;
  margin-top: .5rem;
}

.comment-input {
  width: 40vw;
  height: 4rem;
}

.votes {
  margin-right: 2rem;
  vertical-align: center;
}

.votes p {
  font-size: 1.6rem;
  padding: .5rem;
}

.upvote, .downvote {
  width: 32px;
  height: 32px;
  opacity: 0.6;
}

.upvote {
  background-image: url(../assets/upvote.png);
}

.upvote:hover {
  opacity: 1;
  cursor: pointer;
}

.downvote {
  background-image: url(../assets/downvote.png);
}

.downvote:hover {
  opacity: 1;
  cursor: pointer;
}

.userform {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.5rem;
  margin-bottom: 3rem;
}

.allContainer {
  display: flex;
  justify-content: space-around;
}

.user {

}